<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrmManhinhchinh.Properties.Settings.QLCT03ConnectionString"
            connectionString="Data Source=DESKTOP-6DJ3LQS\VINHPHU;Initial Catalog=QLCT03;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>